@font-face {
  font-family: Merriweather;
  src: url("assets/fonts/Merriweather/");
}

@font-face {
  font-family: Inter;
  src: url("assets/fonts/Inter/");
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  ..background-color: #000000;
  min-width: 100vh;
  margin: auto 0;
  padding: 0;
  width: 1440px;
  margin: 0 auto;
}
.header {
  background: url("/portfolio/assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  min-height: 90px;
  margin: 0 auto;
}
.header2 {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  margin: 0px 20px;
}
.nav-item {
  margin-left: 33px;
  list-style: none;
}
.nav-item a {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  /* identical to box height, or 250% */

  color: #ffffff;
  text-decoration: none;
}
.nav-list {
  display: flex;
}
.logo {
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
.container {
  min-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
.main {
}
.hero {
  height: 820px;
  background: url("/portfolio/assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}
.hero-text {
  height: 330px;
  width: 500px;
  text-align: start;
  padding: 160px 80px;
}
.hero .hero-text p {
  width: 470px;
  line-height: 1.94;
  padding: 13px 0px;
  margin: 0px;
}
h1 {
  margin: 0 auto;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
  /* identical to box height, or 200% */

  color: #ffffff;
}
.hero p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  /* or 200% */

  color: #ffffff;
}
.skills {
  background-color: #000000;
  padding-top: 100px;
}
button {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;

  text-align: center;
  color: #000000;
  height: 55px;
  width: 220px;

  background: #bdae82;
  border-radius: 0px;
  cursor: pointer;
  font-family: inherit;
  
}
.btn1 {
  margin-top: 12px;
}
h2 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  margin: 0px;
  text-align: center;
  color: #bdae82;
  overflow: hidden;
  position: relative;
}
.wrapper {
  width: 50%;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}
.wrapper h2 {
  display: inline-block;
  vertical-align: middle;
}
.wrapper:before,
.wrapper:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 4px;
  background-color: #bdae82;
  position: relative;
}
.wrapper:before {
  margin-left: -100%;
  left: -14px;
}
.wrapper:after {
  margin-right: -100%;
  right: -14px;
}
.skills {
  height: 482px;
}
.skills-items {
  display: flex;
  text-align: center;
  margin-top: 60px;
}
.skill-item {
  background-position: center top;
  height: 240px;
  margin: auto;
}
.skill-item p {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
/* or 200% */

text-align: center;

color: #FFFFFF;
  width: 280px;
}
.skill-item h3 {
  font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 40px;
text-align: center;
color: #FFFFFF;
padding-top: 26px;
}
.portfolio {
height: 1500px;
background-color: #000000;
padding-top: 100px;
}
.portfolio-btn {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.transparent {
  background-color: transparent;
  border: 2px solid #BDAE82;
  color: #BDAE82;
  font-size: 20px;
line-height: 40px;
}
.portfolio-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.video {
  Height: 945px;
  background-color: #000000;
  padding-top: 100px;
  text-align: center;
  
}
.video img {
  margin-top: 60px;
}

.video-player {
 
 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-play {
  background: transparent;
  background-image:url(./assets/png/Play_hover.png);
  position: absolute;
  z-index: 100;
  
  background-repeat: no-repeat;
  width: 130px;
  height: 68px;
  border: 0;
  cursor: pointer;
  
}
.price {
  width: 1440px;
  height: 845px;
background-color: #000000;
padding-top: 100px;
}
span {
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
text-align: center;
color: #FFFFFF;
}
.gold, .premium, .standart {
  font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 56px;
/* identical to box height, or 200% */

text-align: center;
border: 3px solid #BDAE82;
box-sizing: border-box;
border-radius: 0px;
color: #FFFFFF;
width: 470px;
}
.gold p, .premium p, .standart p {
font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 48px;
/* identical to box height, or 200% */

text-align: center;

color: #BDAE82;

}
.price-items {
  display: flex;
  padding: 60px 20px;
}
.gold span, .premium span, .standart span {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  
  text-align: center;
  
  color: #FFFFFF;
  
  }